body {
    font-family: Arial, sans-serif;
    background-color: rgb(196, 192, 188);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}


section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    background: #fff;
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
    /* Тінь для секцій */
    border-radius: 1%;
    transition: all 0.8s ease;
    margin-right: 20px;

    /* Плавний перехід */
    min-width: 400px;

}

.search-section {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 210px;
    width: 500px;

}

.list-section input {
    height: 25px;
    border-radius: 3%;

}

.summary-section {

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    height: 210px;
    width: 500px;

}


.input-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    margin-bottom: 10px;
}

#addItemButton {
    background-color: rgb(59, 79, 193);
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    height: 50px;
    border-color: rgb(59, 79, 193);
    box-shadow: 0px 4px 4px rgba(9, 23, 79, 1);
    width: 30%;

}

.bought .item-name {
    text-decoration: line-through;
}

.bought .item-quantity-wrapper,
.bought .cancel {
    display: none;
}

.list-section {
    justify-content: space-between;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    /* Вирівнюємо по вертикалі по центру */

    width: 100%;
    flex-direction: column;

}

.scrollable-list {
    height: 400px; 
    overflow-y: auto;
    width: 100%;
    overflow-x: hidden;

}

.list-section .not-buy-button {
    white-space: nowrap;
}


hr {
    color: #a6a0a0;
    width: 100%;
}

input {
    width: 70%;
    height: 50px;
    border-radius: 3%;
    font-size: 16px;
    border: 1px solid rgb(147, 142, 147);
    /* Зміна кольору, товщини та стилю країв */

}

.disabled {
    opacity: 0.5;
    pointer-events: none;
}


#itemList {

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    height: 100%;
    width: 100%;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#itemList li {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 100%;
    list-style-type: none;
    border-bottom: px solid #ccc; 
}


.item-quantity,
.item-quantity-first {
    background-color: rgb(220, 218, 218);
    padding: 3px 8px;
    border-radius: 3px;
    color: rgb(0, 0, 0);
    display: inline-block;
}

.supply {
    background-color: rgb(230, 32, 22);
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    /* Жирний шрифт */
    height: 30px;
    width: 30px;
    border-color: rgb(230, 32, 22);
    box-shadow: 0px 2px 2px rgb(99, 9, 9);
    /* Тінь внизу кнопки */
    border-radius: 45%;
}

.add {

    background-color: rgb(63, 199, 55);
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    /* Жирний шрифт */
    height: 30px;
    width: 30px;
    border-color: rgb(63, 199, 55);
    box-shadow: 0px 2px 2px rgb(19, 71, 9);
    /* Тінь внизу кнопки */
    border-radius: 45%;
}

.unbuy-button,
.buy-button {

    background-color: rgb(220, 218, 218);
    padding: 3px 8px;
    border-radius: 3px;
    color: rgb(0, 0, 0);
    box-shadow: 0px 2px 2px rgb(137, 138, 136);
    display: inline-block;
    border-radius: 5px;
    font-size: 16px;
    border-color: rgb(220, 218, 218);

}

.buy-button {
    margin-right: 5px;
}

.cancel {

    background-color: rgb(230, 32, 22);
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    /* Жирний шрифт */
    height: 30px;
    width: 30px;
    border-color: rgb(230, 32, 22);
    box-shadow: 0px 2px 2px rgb(99, 9, 9);
    /* Тінь внизу кнопки */
    border-radius: 10%;

}

.item-name {
    width: 20%;
    display: flex;
    align-items: center;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;


}


#itemList li {

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 100%;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

h3 {
    font-size: 20px;
    font-weight: bold;
    margin-top: 0px;
    margin-bottom: 0px;
}


#remainingItems,
#boughtItems {

    display: flex;
    justify-content: flex-start;
    width: 100%;
    overflow-y: hidden;
    overflow-x: auto;
    align-items: center;
    height: 100%;
    width: 100%;
    list-style-type: none;
    padding: 0;
    margin: 0px;

}

#boughtItems {
    text-decoration: line-through;
}

#boughtItems li .badge {
    text-decoration: #fff line-through;
}

#remainingItems li .badge,
#boughtItems li .badge {
    margin-left: 5px;
    background-color: rgb(239, 130, 13);
    padding: 3px 8px;
    border-radius: 45%;
    color: rgb(255, 255, 255);

}

#remainingItems li,
#boughtItems li {
    background-color: rgb(220, 218, 218);
    padding: 7px;
    border-radius: 5px;
    margin-right: 10px;
    white-space: nowrap;
}

[data-tooltip] {
    position: relative;
}

[data-tooltip]::before {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    position: absolute;
    transition: all 1.2s ease;
    content: attr(data-tooltip);
    background-color: #8A2BE2;
    /* Фіолетовий фон */
    color: #fff;
    font-weight: bold;
    padding: 5px 5px;
    border-radius: 10px;
    /* Круглі кути */
    white-space: nowrap;
    z-index: 1000;
    transform: translateX(0px) translateY(100px);
    /* Початкова позиція для анімації */
}


[data-tooltip]:hover::before {
    visibility: visible;
    opacity: 1;
    bottom: 70%;
    /* Позиція підказки над елементом */
    right: 10%;
    transform: translateX(0%) translateY(0%);
}

#badge {
    height: 70px;
    position: fixed;
    bottom: 0;
    text-align: center;
    left: 20px;
    background-color: #4B0082;
    /* Темно фіолетовий колір */
    color: white;
    padding: 10px 20px;
    border-top-right-radius: 10px;
    /* Скруглені верхні кути */
    border-top-left-radius: 10px;
    transition: transform 0.9s ease, background-color 0.9s ease;
    /* Плавна анімація */
    transform: translateY(40px);
    /* Початкова позиція для анімації */
}

#badge:hover {
    transform: translateY(-20px);
    /* Кінцева позиція для анімації */
    background-color: #8542b5;
    /* Зміна кольору при наведенні */
}

#badge::after {
    content: "Гапоненко Єлизавета";
    display: block;
    font-size: 12px;
    margin-top: 30px;
    opacity: 0;
    transition: opacity 0.9s ease;
}

#badge:hover::after {
    opacity: 1;
}

@media print {
    #badge {
        background-color: #fff;
        /* Білий фон */
        color: #4B0082;
        /* Фіолетовий текст */
        border: 2px solid #4B0082;
    }

    #badge::before {
        content: "Гапоненко Єлизавета";
        /* Текст для друку */
    }
}

@media screen and (max-width: 500px) {
    .container {
        display: block;
        /* Зміна на блочний режим */
    }

    section {
        width: 100%;
        margin-bottom: 30px;
        transition: all 0.7s ease;
        /* Плавний перехід */
        min-width: 450px;
    }
}